.right {
  list-style-type: none;
}

.right a {
  margin-left: 10px;
  color: white;
  text-decoration: none !important;
}

@font-face2 {
  font-family: 'Sansita One';
  color: #4b6072;
}
// Body background
body {
  // background-color: #dfd1c0;
  background-color: #f1e6d4;
  // background-image: url(body_bg.png);
  background-position: center;
  // color: #fff;
  // color: #5a7876;
}
// Logo
.title-area {
  list-style-type: none;
  text-align: center;
  // background-color: #5a7876;
  background-color: #e3b8b2;
  border-radius: 9px;
  a { 
    padding:0 !important;
    text-decoration: none;
    // color: #4b6072;
    color: #a5b2ab;
  }
  i {
    font-size: 30px;
    position: relative;
    top: 2px;
  }
}
// Topbar items
.top-bar-section ul li { 
  // background: transparent;
  background-color: #5a7876;
  // float: left;
}
// Forms
.form-container {
  padding: 3% 3%;
  .switch > div {
    position: relative;
    top: -5px;
  }
}

.headline {
  // -webkit-text-fill-color: #fff;
  // -webkit-text-stroke-width: 4px;
  // -webkit-text-stroke-color: #fff;
  font-family: 'Sansita One';
  font-size: 130px;
  color: #a5b2ab;
  text-shadow: -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff, 4px 4px 0 #fff;
  display: inline-block;
}