@font-face2 {
  font-family: 'Sansita One';
  color: #4b6072;
}
// Body background
body {
  // background-color: #dfd1c0;
  background-color: #f1e6d4;
  // background-image: url(body_bg.png);
  background-position: center;
  // color: #fff;
  color: #5a7876;
}
// Logo
.title-area{
  a { padding:0 !important }
  i {
    font-size: 30px;
    position: relative;
    top: 2px;
  }
}
// Topbar items
.top-bar-section ul li { 
  // background: transparent;
  background-color: #e3b8b2;
}
// Forms
.form-container {
  padding: 3% 3%;
  .switch > div {
    position: relative;
    top: -5px;
  }
}